.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh);
    padding: 0 20px;
    color: whitesmoke;
    background: url('https://images.unsplash.com/photo-1530090382228-7195e08d7a75');
    background-size: cover;
    margin: auto;
    .head {
        font-size: larger;
    }
    .name {
        width: 250px;
        height: 25px;
        padding: 6px;
        border: transparent;
        border-radius: 8px;
        &:focus {
            outline: none;
        }
    }
    .button {
        height: 25px;
        margin: 10px 5px;
        padding: 10px 15px 25px 15px;
        border: transparent;
        border-radius: 10px;
        cursor: pointer;
        &.submit {
            background: rgb(180, 255, 106);
        }
    }
    .output {
        font-size: larger;
        .flag {
            vertical-align: middle;
        }
    }
    .source {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: medium;
        cursor: pointer;
    }
    .details {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        .apis {
            font-size: larger;
        }
    }
}
